@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {
    --navy:#413C69;
    --blue: #4A47A3;
    --purple: #Ad62aa;
    --fenk: #eab9c9;
}

body {
    margin: 0;
    padding: 0;
    background: var(--navy);
    color: var(--fenk);
    font-family: 'Crimson Text', serif;
}

.container {
    display:flex;
}

.sidebar {
    padding:32px;
    width:35vh;
    font-size:1.5rem; 
    display:flex;
    flex-direction:column;
}

.main {
    padding: 32px;
    background: var(--purple);
    color: var(--blue);
    width:80vw;
    height:100vh;
}

table {
    text-align: center;
    font-size: 1.3rem;
    border-collapse:collapse;
    margin: 24px 0;
    font-size: 1.1rem;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
}

thead{
    font-weight:bold;
    background: var(--navy);
    color: var(--fenk);
    text-transform: capitalize;
}

thead td {
    padding: 24px 20px;
    min-width:130px;
}

tbody {
    background:var(--fenk);
    color:var(--blue);
    margin: 16px 0;
}

tbody td{
    padding: 12px 16px;
}

tbody tr{
    border-bottom: 1px solid var(--navy);
}

.remove svg{
    fill: var(--blue);
}

.logo{
    display:flex;
    font-size:2rem;
    font-weight:900;
}

.logo svg{
    fill: var(--fenk)
}